<div class="container">
    <hr />
    <div class="section-title" data-aos="fade-up">
        <h2>Contact Us</h2>
        <p>More information regarding the research outcome, please contact us.</p>
    </div>
    <hr />

    <div class="row">

        <div class="col-lg-12">
            <div class="info d-flex justify-content-center" data-aos="fade-right">

                <div class="col d-flex col-lg-4">
                    <div class="email">
                        <i class="bi bi-envelope"></i>
                        <h4>Email:</h4>
                        <p>spms@gmail.com</p>
                    </div>
                </div>

                <div class="col d-flex  col-lg-4">
                    <div class="phone">
                        <i class="bi bi-phone"></i>
                        <h4>Call:</h4>
                        <p>+94711294033</p>
                    </div>
                </div>

            </div>

        </div>

    </div>

</div>