<div class="container" data-aos="zoom-in">
    <div class="title">
        <!--<i class="bx bxs-quote-right"></i>-->
        <h1>Contribution To The Project</h1>
    </div>

    <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
        <div class="swiper-wrapper">

            <div class="swiper-slide">
                <div class="testimonial-item">
                    <p>
                        Proin iaculis purus consequat sem cure digni ssim donec porttitora entum suscipit rhoncus.
                        Accusantium
                        quam, ultricies eget id, aliquam eget nibh et. Maecen aliquam, risus at semper.
                    </p>
                    <img src="assets/img/team/member1.JPG" class="testimonial-img" alt="">
                    <h3>Nipun Amarasekara</h3>
                    <h4>Project Leader &amp; Backend Developer</h4>
                </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
                <div class="testimonial-item">
                    <p>
                        Export tempor illum tamen malis malis eram quae irure esse labore quem cillum quid cillum
                        eram malis
                        quorum velit fore eram velit sunt aliqua noster fugiat irure amet legam anim culpa.
                    </p>
                    <img src="assets/img/team/member2.jpg" class="testimonial-img" alt="">
                    <h3>Thisura Navanjana</h3>
                    <h4>Backend Developer</h4>
                </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
                <div class="testimonial-item">
                    <p>
                        Enim nisi quem export duis labore cillum quae magna enim sint quorum nulla quem veniam duis
                        minim
                        tempor labore quem eram duis noster aute amet eram fore quis sint minim.
                    </p>
                    <img src="assets/img/team/member3.jpg" class="testimonial-img" alt="">
                    <h3>Gamage Osanda</h3>
                    <h4>Frontend Developer</h4>
                </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
                <div class="testimonial-item">
                    <p>
                        Fugiat enim eram quae cillum dolore dolor amet nulla culpa multos export minim fugiat minim
                        velit
                        minim dolor enim duis veniam ipsum anim magna sunt elit fore quem dolore labore illum
                        veniam.
                    </p>
                    <img src="assets/img/team/member4.jpg" class="testimonial-img" alt="">
                    <h3>Prabhashi Isurindi</h3>
                    <h4>Frontend Developer</h4>
                </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
                <div class="testimonial-item">
                    <p>
                        Fugiat enim eram quae cillum dolore dolor amet nulla culpa multos export minim fugiat minim
                        velit
                        minim dolor enim duis veniam ipsum anim magna sunt elit fore quem dolore labore illum
                        veniam.
                    </p>
                    <img src="assets/img/team/supervisor.jpg" class="testimonial-img" alt="">
                    <h3>Uthpala Samarakoon</h3>
                    <h4>Project Supervisor</h4>
                </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
                <div class="testimonial-item">
                    <p>
                        Fugiat enim eram quae cillum dolore dolor amet nulla culpa multos export minim fugiat minim
                        velit
                        minim dolor enim duis veniam ipsum anim magna sunt elit fore quem dolore labore illum
                        veniam.
                    </p>
                    <img src="assets/img/team/co-supervisor.png" class="testimonial-img" alt="">
                    <h3>Archchana Kugathasan</h3>
                    <h4>Project Co-Supervisor</h4>
                </div>
            </div><!-- End testimonial item -->

        </div>
        <div class="swiper-pagination"></div>
    </div>

</div>