<div class="container">
    <hr />
    <div>
        <div class="section-title" data-aos="fade-up">
            <h2>Domain</h2>
            <p>Research Information</p>
        </div>
        <hr />
        <div class="row">
            <div class="row innerContainer">
                <div class="col-lg-6 order-2 order-lg-1">
                    <div class="icon-box mt-5 mt-lg-0" data-aos="fade-up">
                        <i class="bx bx-receipt"></i>
                        <h4>Literature survey</h4><br />
                        <li>Skill based Group Formation in Projects <p style="padding-right:30px; text-align: justify;">
                                Using non logical strategies for grouping may badly effect on group management and also
                                may
                                leads to unsuccessful project.</p>
                        </li>
                        <li>Use of GitHub Repositoris in Progress Tracking <p
                                style="padding-right:30px; text-align: justify;">There are several version control
                                systems.
                                But GitHub is the most popular version control system in the project management part.
                            </p>
                        <li>Speech Recognition and Emotional Detection <p
                                style="padding-right:30px; text-align: justify;">
                                There are so many individual systems for Speech Recognition and Emotional Recognition.
                            </p>
                        <li>Peer-review in Project Management <p style="padding-right:30px; text-align: justify;">
                                reviews or
                                feedbacks on various areas, sentiment analysis and opinion mining are major research
                                categories in natural language processing and machine learning algorithms.</p>
                    </div>
                </div>
                <div class="image col-lg-6 order-1 order-lg-2" style='background-image: url("assets/img/services.jpg");'
                    data-aos="fade-left" data-aos-delay="100"></div>
            </div>

            <div class="row innerContainer">
                <div class="col-lg-6   order-2 order-lg-1">
                    <div class="icon-box mt-5 mt-lg-0" data-aos="fade-up"
                        style="padding-right: 30px; padding-top: 30px;">
                        <i class="bx bx-receipt"></i>
                        <h4>Research Gap</h4><br />
                        <p style="text-align: justify;">Some research solutions are targeted for a specific requirement
                            that
                            only satisfy specific dataset. The problem is, is it configurable for our own requirements
                            and
                            is it possible to use these solutions for our own system. Since all above mentioned systems
                            are
                            made for a single task it is bit complex to integrate it to the proposed project management
                            system. The target is to use existing solutions and reconfigure them to satisfy our own
                            requirements. Some of the solutions are complex to be configured and some of them are not
                            enough
                            sufficient to satisfy our requirement. So to implement an efficient and accurate system, we
                            need
                            to study these existing systems to configure and extend capabilities of the existing
                            solutions.
                        </p>

                    </div>
                </div>
                <div class="col-lg-6 order-1 order-lg-2">
                    <div class="icon-box mt-5 mt-lg-0" data-aos="fade-up"
                        style="padding-left: 30px; padding-top: 30px;">
                        <i class="bx bx-receipt"></i>
                        <h4>Research Problem</h4><br />
                        <li>Is it effective to create student groups systematically for the projects? </li>
                        <li>Will be the grading system accurate if students themselves give feedbacks about their team
                            mates? </li>
                        <li>Since the version controlling is playing a major role in industry, how can we motivate
                            students
                            to use version controlling for their products?</li>
                        <li>Is there a way to help students to find client projects? and how can we help students to
                            keep
                            track of client meetings?</li>
                    </div>
                </div>
            </div>

            <div class="row innerContainer">
                <div class="image col-lg-6 order-1 order-lg-1" style='background-image: url("assets/img/services.jpg");'
                    data-aos="fade-right" data-aos-delay="100"></div>
                <div class="col-lg-6  order-1 order-lg-2">
                    <div class="icon-box mt-5 mt-lg-0" data-aos="fade-up"
                        style="padding-left: 30px; padding-top: 30px;">
                        <i class="bx bx-receipt"></i>
                        <h4>Research Objectives</h4>
                        <p>Main Objective is to Develop a Project Management System to improve team work and Automate
                            current project management system.</p>
                        <li>Project group auto generation <p style="text-align: justify;">Develop a grouping algorithm
                                to
                                automate student grouping process.</p>
                        </li>
                        <li>Peer review mark generation <p style="text-align: justify;">Peer review mark generation
                                based on
                                monthly peer review reports.</p>
                        </li>
                        <li>Project progress tracking using GitHub <p style="text-align: justify;">Predict Future
                                Contribution and progress tracking using GitHub REST API.</p>
                        </li>
                        <li>Client meeting content using voice to text methodology. <p style="text-align: justify;">face
                                and
                                speech recognition into auto generated report and a satisfaction rate.</p>
                        </li>

                    </div>
                </div>
            </div>

            <div class="row innerContainer">
                <div class="col-lg-12">
                    <div class="icon-box mt-5 mt-lg-0" data-aos="fade-up"
                        style="padding-right: 30px; padding-top: 30px;">
                        <i class="bx bx-receipt"></i>
                        <h4>Methodology</h4><br />
                        <p>
                            Proposed system developed in several technologies.System’s business logic managed by a
                            Quarkus Application Programming Interface(API). Frontend server is deployed on a Heroku
                            server and users can interact with the system using the Web Application. Web Application is
                            developed using React JS and for the data storage, system uses a MySQL Server. Inside the
                            system there are 4 core modules that manage 4 main components such as Student Group
                            Generation Module, GitHub Contribution Prediction Module, Client Meeting management included
                            with Speech and Emotional Recognition, and finally the Peer Review Module.
                        </p>
                        <p>
                            Each module contains custom and derived Algorithms to support functionality and to increase
                            the effectiveness and efficiency of the system. Each algorithms and required modules are
                            stored as python modules which uses in the Quarkus API. Data Extraction is managed by the
                            API and Data Cleaning and Preparations are configured using Python.
                        </p>
                        <br />

                        <div class="row" data-aos="fade-up" data-aos-delay="100" style="margin-bottom: 1%;">
                            <div class="col-lg-12 d-flex justify-content-center">
                                <ul id="methodology-flters">
                                    <li class="filter-active filter-gg" id="filter-gg-nav"
                                        onclick="viewDomainDivs('filter-gg-div');">Group
                                        Generator</li>
                                    <li class="filter-gc" id="filter-gc-nav" onclick="viewDomainDivs('filter-gc-div');">
                                        Contribution
                                        Predictor</li>
                                    <li class="filter-mp" id="filter-mp-nav" onclick="viewDomainDivs('filter-mp-div');">
                                        Meeting Platform
                                    </li>
                                    <li class="filter-pr" id="filter-pr-nav" onclick="viewDomainDivs('filter-pr-div');">
                                        Peer Review</li>
                                </ul>
                            </div>
                        </div>

                        <div class="row methodology-container" data-aos="fade-up" data-aos-delay="200">
                            <div class="col col-lg-12 filter-gg filter-dev" id="filter-gg-div">
                                <h4>Group Generator</h4>
                                <p>
                                    System will be using K-means clustering to cluster student into 3 subsets using GPA.
                                    There are Low, Medium and High GPA students. After the clustering process system
                                    will generate GPA rules for identification using a decision tree. Results from each
                                    process will be stored in an Excel file for later use. After these pre-loading
                                    processes, system will start the grouping algorithm. First of all, system will
                                    generate group composition. Reason to do that is to avoid over and under powering
                                    groups. Below images shows the machine learning approaches that used to avoid such
                                    unbalanced situations. The first images represents the clustering process in the
                                    system. System will cluster students into 3 groups based on their GPA. Next to
                                    identify the GPA rules extracted from the clustering process, we've constructed a
                                    decision tree. After the GPA rule extraction, we can proceed to the algorithm
                                    development of the automatic group generation.

                                <div class="row">
                                    <div class="col col-lg-6" id="gg-methodology-img"><img
                                            src="/assets/img/methodology/studentClustering.png" style="width: 80%;"
                                            alt="Student Clustering Process" />
                                    </div>
                                    <div class="col col-lg-6" id="gg-methodology-img"><img
                                            src="/assets/img/methodology/studentDecisionTree.png" alt="Decision Tree to identify GPA rules"
                                            style="width: 80%;" />
                                    </div>
                                </div>
                                </p>
                                <p>
                                    Next process is to generate initial group composition. In this phase system will
                                    randomly pick students, but they will be categorized into 3 subsets. Each group will
                                    contain a Leader which have the highest GPA score and also priority will be given to
                                    students with the capability to develop both desktop and web applications. Rest of
                                    the team members will be divided to two groups such as desktop developers and web
                                    developers. At this stage the grouping process has been completed with randomly
                                    generated groups. That leads the system to the next process which is the Group
                                    Balance process.
                                </p>
                                <p>
                                    Inside this process, system will check average GPA of the overall generate group
                                    against the overall average GPA of thestudent list. Using this strategy system can
                                    generate student groups without any over and under powering issues. Programming
                                    languages from the profile will be used inside this process to manage the diversity
                                    among the student. After this process the grouping algorithm is finalized and user
                                    can inspect student groups.
                                </p>
                            </div>
                            <div class="col col-lg-12 filter-gc filter-dev hidden" id="filter-gc-div">
                                <h4>Contribution Predictor</h4>
                                <p>Bla Bla</p>
                            </div>
                            <div class="col col-lg-12 filter-mp filter-dev hidden" id="filter-mp-div">
                                <h4>Meeting Platform</h4>
                                <p>Bla Bla</p>
                            </div>
                            <div class="col col-lg-12 filter-pr filter-dev hidden" id="filter-pr-div">
                                <h4>Peer Review</h4>
                                <p>Bla Bla</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row innerContainer">
                <div class="col-lg-12">
                    <div class="icon-box mt-5 mt-lg-0" data-aos="fade-up"
                        style="padding-right: 30px; padding-top: 30px;">
                        <i class="bx bx-receipt"></i>
                        <h4>Tools and Technologies</h4><br />
                        <img src="assets/img/stack.png" class="img-fluid" alt="">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>