<script src="assets/js/main.js"></script>
<div class="container d-flex align-items-center justify-content-between">

        <div class="logo">
                <a href="/"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>
        </div>

        <nav id="navbar" class="navbar">
                <ul>
                        <li><a class="nav-link scrollto" href="/#home">Home</a></li>
                        <li><a class="nav-link scrollto" href="/#domain">Domain</a></li>
                        <li><a class="nav-link scrollto " href="/#projectMilestones">Milestones</a></li>

                        <li class="dropdown scrollto"><a href="/#downloads"><span>Downloads</span> <i
                                                class="bi bi-chevron-down"></i></a>
                                <ul>
                                        <!--Documents-->
                                        <li class="dropdown"><a href="/#home"><span>Documents</span> <i
                                                                class="bi bi-chevron-down"></i></a>
                                                <ul>
                                                        <li><a href="./assets/documents/documents/charterDocument/ProjectCharter_2020-234.docx">Project
                                                                        Charter</a></li>
                                                        <li class="dropdown"><a href="/#home"><span>Proposal
                                                                                Document</span> <i
                                                                                class="bi bi-chevron-right"></i></a>
                                                                <ul>
                                                                        <li><a href="./assets/documents/documents/proposalDocument/IT18009446.docx">Proposal
                                                                                        Document
                                                                                        1</a>
                                                                        </li>
                                                                        <li><a href="./assets/documents/documents/proposalDocument/IT18003642.docx">Proposal
                                                                                        Document
                                                                                        2</a>
                                                                        </li>
                                                                        <li><a href="./assets/documents/documents/proposalDocument/IT18129236.docx">Proposal
                                                                                        Document
                                                                                        3</a>
                                                                        </li>
                                                                        <li><a href="./assets/documents/documents/proposalDocument/IT18140330.docx">Proposal
                                                                                        Document
                                                                                        4</a>
                                                                        </li>
                                                                </ul>
                                                        </li>
                                                        <li><a href="/#">Research Log Book</a></li>
                                                        <li class="dropdown"><a href="/#home"><span>Status
                                                                                Document</span> <i
                                                                                class="bi bi-chevron-right"></i></a>
                                                                <ul>
                                                                        <li><a href="./assets/documents/documents/StatusDocument/2021-234_Status_Document_1.docx">Status
                                                                                        Document 1</a></li>
                                                                        <li><a href="#">Status Document 2</a></li>
                                                                </ul>
                                                        </li>
                                                        <li class="dropdown"><a href="/#home"><span>Final
                                                                                Document</span> <i
                                                                                class="bi bi-chevron-right"></i></a>
                                                                <ul>
                                                                        <li><a href="./assets/documents/documents/FinalDocument/IT18009446.docx">Final
                                                                                        Document 1</a></li>
                                                                        <li><a href="./assets/documents/documents/FinalDocument/IT18003642.docx">Final
                                                                                        Document 2</a></li>
                                                                        <li><a href="./assets/documents/documents/FinalDocument/IT18129236.docx">Final
                                                                                        Document 3</a></li>
                                                                        <li><a href="./assets/documents/documents/FinalDocument/IT18140330.docx">Final
                                                                                        Document 4</a></li>
                                                                        <li><a href="./assets/documents/documents/FinalDocument/2021-234-Group.docx">Group
                                                                                        Final
                                                                                        Document</a>
                                                                        </li>
                                                                </ul>
                                                        </li>
                                                </ul>
                                        </li>

                                        <!--Presentations-->
                                        <li class="dropdown"><a href="/#home"><span>Presentations</span> <i
                                                                class="bi bi-chevron-down"></i></a>
                                                <ul>
                                                        <li><a href="./assets/documents/presentations/proposal/2021-234-Proposal.pptx">Proposal
                                                                        Presentation</a>
                                                        </li>
                                                        <li><a href="./assets/documents/presentations/pp1/2021-234-PP1.potm">Progress
                                                                        Presentation 1</a></li>
                                                        <li><a href="./assets/documents/presentations/pp2/2021-234-PP2.pptx">Progress
                                                                        Presentation 2</a></li>
                                                        <li><a href="./assets/documents/presentations/pp2/2021-234-PP2.pptx">Final
                                                                        Presentation</a></li>
                                                </ul>
                                        </li>
                                </ul>
                        </li>
                        <li><a class="nav-link scrollto" href="/#about">About Us</a></li>
                        <li><a class="nav-link scrollto" href="/#team">Team</a></li>
                        <li><a class="nav-link scrollto" href="/#contact">Contact Us</a></li>
                </ul>
                <i class="bi bi-list mobile-nav-toggle"></i>
        </nav><!-- .navbar -->

</div>