<div class="container">
  <div class="section-title abstract" data-aos="fade-up">
    <hr />
    <div class="topic">
      <h1>SMART PROJECT</h1>
      <p>An advanced project management system for software development</p>
    </div>
    <hr />
    <div class="row">
      <div class="col-lg-6 pms">
        <img src="/assets/img/pms.png" alt="" />
      </div>
      <div class="col-lg-6">
        <p>
          Project Management System important in large-scale projects. There are existing project management tools
          such as Redmine, Microsoft Project, Jira. Most of the existing project management systems only
          configured
          for general purposes such as Project Management, Task management, Time line management. None of them
          capable
          of generating project groups, track student progress or track client meetings. These functions are very
          helpful in tracking project progress as well as individual member progress. Hence, the purpose of this
          research is to introduce set of new features to a project management system with accurate and effective
          project management capabilities. This system is capable of generating project groups using student’s
          skills,
          Grade point average (GPA). Smart project tracking system where it uses project repositories and system
          generated timeline for the project. Using the project tracking system, Supervisors can manage groups
          remotely. Automatic peer review also added to identify each student’s contribution to the project and
          finally a client portal where clients can request solutions for their requirements and students can use
          them
          as their module project. Client meetings will be tracked using voice-to-text algorithm and also
          emotional
          recognition where it will identify client’s satisfaction. All These system modules will be used to
          calculate
          group performance.
        </p>
      </div>
    </div>
  </div>
</div>