<div class="container">
    <hr />
    <div class="section-title" data-aos="fade-up">
        <h2>Project Milestones</h2>
        <p>The following milestones are used to achieve the goal of developing the Smart Project system. The project
            will be
            evaluated out of 100 marks to be achieved at the end of the year. And out of the 100 marks different
            percentages are allocated for each milestone achievement. Team has met the deadlines and produced the
            relevant documentations and the required presentations of the Smart Project System.</p>
    </div>
    <hr />

    <div class="row" data-aos="fade-up" data-aos-delay="100" style="margin-bottom: 1%;">
        <div class="col-lg-12 d-flex justify-content-center">
            <ul id="projectMilestones-flters">
                <li class="filter-active filter-pp" onclick="viewDiv('filter-pp-div');">Project Proposal</li>
                <li class="filter-pp1" onclick="viewDiv('filter-pp1-div');">Presentation 1</li>
                <li class="filter-pp2" onclick="viewDiv('filter-pp2-div');">Presentation 2</li>
                <li class="filter-demo" onclick="viewDiv('filter-demo-div');">Demo</li>
                <li class="filter-fa" onclick="viewDiv('filter-fa-div');">Final Assessment</li>
                <li class="filter-v" onclick="viewDiv('filter-v-div');">Viva</li>
            </ul>
        </div>
    </div>

    <div class="row projectMilestones-container" data-aos="fade-up" data-aos-delay="200">
        <div class="col col-lg-8 filter-pp filter-dev" id="filter-pp-div">
            <h4>Project Proposal</h4>
            <p>Project Proposal document is the initial document that demarcate the initial requirements of the project
                activities. These requirements could change over the time. Follow-up of a good project management plan
                is
                quite necessary to support the aggressive changes of the requirements. The use of methodologies and PMP
                are described under the proposal document as well.
            </p>
        </div>
        <div class="col col-lg-8 filter-pp1 filter-dev hidden" id="filter-pp1-div">
            <h4>Presentation 1</h4>
        </div>
        <div class="col col-lg-8 filter-pp2 filter-dev hidden" id="filter-pp2-div">
            <h4>Presentation 2</h4>
        </div>
        <div class="col col-lg-8 filter-demo filter-dev hidden" id="filter-demo-div">
            <h4>Demo</h4>
        </div>
        <div class="col col-lg-8 filter-fa filter-dev hidden" id="filter-fa-div">
            <h4>Final Assessment</h4>
        </div>
        <div class="col col-lg-8 filter-v filter-dev hidden" id="filter-v-div">
            <h4>Viva</h4>
            <p>
                The oral exam (also oral test or viva voce) is a practice in many schools and disciplines, where an
                examiner poses questions to the student in spoken form. The student has to answer the question in such a
                way as to demonstrate sufficient knowledge of the subject in order to pass the exam.
            </p>
        </div>
    </div>

</div>