<div class="container">
    <hr />
    <div class="section-title" data-aos="fade-up">
        <h2>Team</h2>
        <p>Our Research Team</p>
    </div>
    <hr />

    <div class="row">

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="zoom-in">
                <div class="member-img">
                    <img src="assets/img/team/member1.JPG" class="img-fluid" alt="">
                    <div class="social">
                        <a href="tel:+940770415266" target="blank"><i class="bi bi-phone"></i></a>
                        <a href="https://github.com/NipunEranda" target="blank"><i class="bi bi-github"></i></a>
                        <a href="mailto:namarasekara71@gmail.com" target="blank"><i class="bi bi-google"></i></a>
                        <a href="https://lk.linkedin.com/in/nipun-amarasekara-617629193" target="blank"><i
                                class="bi bi-linkedin"></i></a>
                    </div>
                </div>
                <div class="member-info">
                    <h4>Nipun Amarasekara</h4>
                    <span>Project Leader</span>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="zoom-in" data-aos-delay="100">
                <div class="member-img">
                    <img src="assets/img/team/member2.jpg" class="img-fluid" alt="">
                    <div class="social">
                        <a href="https://github.com/THISURA97" target="blank"><i class="bi bi-github"></i></a>
                        <a href="mailto:it18003642@my.sliit.lk" target="blank"><i class="bi bi-google"></i></a>
                        <a href="https://lk.linkedin.com/in/thisurahettiarachchi" target="blank"><i
                                class="bi bi-linkedin"></i></a>
                    </div>
                </div>
                <div class="member-info">
                    <h4>Thisura Navanjana</h4>
                    <span>Project Member</span>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="zoom-in" data-aos-delay="200">
                <div class="member-img">
                    <img src="assets/img/team/member3.jpg" class="img-fluid" alt="">
                    <div class="social">
                        <a href="https://github.com/ozandabb target=" blank""><i class="bi bi-github"></i></a>
                        <a href="mailto:it18140330@my.sliit.lk" target="blank"><i class="bi bi-google"></i></a>
                        <a href="https://lk.linkedin.com/in/osanda-gamage-3ba68a170" target="blank"><i
                                class="bi bi-linkedin"></i></a>
                    </div>
                </div>
                <div class="member-info">
                    <h4>Gamage Osanda</h4>
                    <span>Project Member</span>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="zoom-in" data-aos-delay="200">
                <div class="member-img">
                    <img src="assets/img/team/member4.jpg" class="img-fluid" alt="">
                    <div class="social">
                        <a href="https://github.com/prabhashiisurindi" target="blank"><i class="bi bi-github"></i></a>
                        <a href="mailto:it18129236@my.sliit.lk" target="blank"><i class="bi bi-google"></i></a>
                        <a href="https://lk.linkedin.com/in/prabhashi-isurindi-508b51169" target="blank"><i
                                class="bi bi-linkedin"></i></a>
                    </div>
                </div>
                <div class="member-info">
                    <h4>Prabhashi Isurindi</h4>
                    <span>Project Member</span>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="zoom-in" data-aos-delay="200">
                <div class="member-img">
                    <img src="assets/img/team/supervisor.jpg" class="img-fluid" alt="">
                    <div class="social">
                        <a href="mailto:uthpala.s@sliit.lk" target="blank"><i class="bi bi-google"></i></a>
                        <a href="https://lk.linkedin.com/in/uthpala-samarakoon-76a51439" target="blank"><i
                                class="bi bi-linkedin"></i></a>
                    </div>
                </div>
                <div class="member-info">
                    <h4>Uthpala Samarakoon</h4>
                    <span>Project Supervisor</span>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="zoom-in" data-aos-delay="200">
                <div class="member-img">
                    <img src="assets/img/team/co-supervisor.png" class="img-fluid" alt="">
                    <div class="social">
                        <a href="mailto:archchana.k@sliit.lk" target="blank"><i class="bi bi-google"></i></a>
                        <a href="https://lk.linkedin.com/in/archchana-kugathasan-b21b2b10b" target="blank"><i
                                class="bi bi-linkedin"></i></a>
                    </div>
                </div>
                <div class="member-info">
                    <h4>Archchana Kugathasan</h4>
                    <span>Project Co-Supervisor</span>
                </div>
            </div>
        </div>

    </div>

</div>

<!-- ======= Testimonials Section ======= -->
<section id="testimonials" class="testimonials">
    <div class="container" data-aos="zoom-in">
        <div class="title">
            <!--<i class="bx bxs-quote-right"></i>-->
            <h1>Contribution To The Project</h1>
        </div>

        <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
            <div class="swiper-wrapper">

                <div class="swiper-slide">
                    <div class="testimonial-item">
                        <p>
                            Proin iaculis purus consequat sem cure digni ssim donec porttitora entum suscipit rhoncus.
                            Accusantium
                            quam, ultricies eget id, aliquam eget nibh et. Maecen aliquam, risus at semper.
                        </p>
                        <img src="assets/img/team/member1.JPG" class="testimonial-img" alt="">
                        <h3>Nipun Amarasekara</h3>
                        <h4>Project Leader &amp; Backend Developer</h4>
                    </div>
                </div><!-- End testimonial item -->

                <div class="swiper-slide">
                    <div class="testimonial-item">
                        <p>
                            Export tempor illum tamen malis malis eram quae irure esse labore quem cillum quid cillum
                            eram malis
                            quorum velit fore eram velit sunt aliqua noster fugiat irure amet legam anim culpa.
                        </p>
                        <img src="assets/img/team/member2.jpg" class="testimonial-img" alt="">
                        <h3>Thisura Navanjana</h3>
                        <h4>Backend Developer</h4>
                    </div>
                </div><!-- End testimonial item -->

                <div class="swiper-slide">
                    <div class="testimonial-item">
                        <p>
                            Enim nisi quem export duis labore cillum quae magna enim sint quorum nulla quem veniam duis
                            minim
                            tempor labore quem eram duis noster aute amet eram fore quis sint minim.
                        </p>
                        <img src="assets/img/team/member3.jpg" class="testimonial-img" alt="">
                        <h3>Gamage Osanda</h3>
                        <h4>Frontend Developer</h4>
                    </div>
                </div><!-- End testimonial item -->

                <div class="swiper-slide">
                    <div class="testimonial-item">
                        <p>
                            Fugiat enim eram quae cillum dolore dolor amet nulla culpa multos export minim fugiat minim
                            velit
                            minim dolor enim duis veniam ipsum anim magna sunt elit fore quem dolore labore illum
                            veniam.
                        </p>
                        <img src="assets/img/team/member4.jpg" class="testimonial-img" alt="">
                        <h3>Prabhashi Isurindi</h3>
                        <h4>Frontend Developer</h4>
                    </div>
                </div><!-- End testimonial item -->

                <div class="swiper-slide">
                    <div class="testimonial-item">
                        <p>
                            Fugiat enim eram quae cillum dolore dolor amet nulla culpa multos export minim fugiat minim
                            velit
                            minim dolor enim duis veniam ipsum anim magna sunt elit fore quem dolore labore illum
                            veniam.
                        </p>
                        <img src="assets/img/team/supervisor.jpg" class="testimonial-img" alt="">
                        <h3>Uthpala Samarakoon</h3>
                        <h4>Project Supervisor</h4>
                    </div>
                </div><!-- End testimonial item -->

                <div class="swiper-slide">
                    <div class="testimonial-item">
                        <p>
                            Fugiat enim eram quae cillum dolore dolor amet nulla culpa multos export minim fugiat minim
                            velit
                            minim dolor enim duis veniam ipsum anim magna sunt elit fore quem dolore labore illum
                            veniam.
                        </p>
                        <img src="assets/img/team/co-supervisor.png" class="testimonial-img" alt="">
                        <h3>Archchana Kugathasan</h3>
                        <h4>Project Co-Supervisor</h4>
                    </div>
                </div><!-- End testimonial item -->

            </div>
            <div class="swiper-pagination"></div>
        </div>

    </div>
</section><!-- End Testimonials Section -->